@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    font-size: 10px;
}

.main-container{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('../imgaes/city-image.jpeg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.header-container{
          display: flex;
          justify-content:space-around;        
}

.header{
    color: white;
    font-size: 3.6em;
    font-weight: 500;
}

.list{
    margin-left: 1.7rem;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.link-container{
         padding-top: 2.3em;
}

.h1-container{
       padding-top: 1.2rem;
       margin-right: 5em;
}

.list:hover{
       border-bottom: 1px solid white;
}

.container-1{
       max-width: 100%;
       margin-top: 20rem;
       justify-content: center;
}

.btn-container{
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;

}

.container-1-heading{
       color: white;
       letter-spacing: 0.2em;
       text-align: center;
       padding-bottom: 1.7rem;
       font-size: 2.5em;
}

.para{
    color: white;
    letter-spacing: 0.2rem;
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 2.4rem;
}

.btn{
    color: rgba(255, 0, 0, 0.65);
    border: 1px solid white;
    background-color: white;
    border-radius: 5em;
    padding: 1rem;
    text-decoration: none;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1.4rem;
}

.main-container-2{
    height: 130vh;
    background-color:rgba(220, 220, 220, 0.781);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-container{
    max-width: 67%;
    height: 35%;
    display: flex;
    margin-top: 7rem;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5 );
}

.box-image{
    object-fit: cover;
}

.box-1{
    width: 50%;
    height: 100%;
    background-color: white;
}

.box-2{
    width: 50%;
    height: 100%;
    padding: 1.7rem;
    background-color: white;
    text-align: center;
}

.image-container-2{
    max-width: 67%;
    height: 35%;
    display: flex;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5 );
}

.box-3{
    width: 50%;
    height: 100%;
    padding: 1.7rem;
    background-color: white;
    text-align: center;
}

.box-4{
    width: 50%;
    height: 100%;
    background-color: white;
}

.box-heading{
    font-weight: 200;
    margin-bottom: 2rem;
    letter-spacing: 0.3em;
    font-size: 2rem;
}

.box-para{
    font-weight: 100;
    color: rgb(128, 128, 128);
    margin-bottom: 2rem;
    letter-spacing: 0.3em;
    font-size: 1.7em;
}

.box-btn{
    color: rgba(255, 0, 0, 0.868);
    border: 1px solid  rgba(255, 0, 0, 0.891);
    background-color: white;
    border-radius: 5rem;
    padding: 0.8rem;
    text-decoration: none;
    padding-left: 1.3em;
    padding-right: 1.3em;
    font-size: small; 
}

.image{
    width: 100%;
    height: 100%;
}

.main-container-3{
    height: 55vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.row-box{
    max-width: 67%;
    border: 1px solid black;
    display: flex;
    margin-top: 7rem;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3 );
}

.row{
    width: 34%;
    height: 100%;
    background-color: #333;  
    text-align: center;
    padding: 1.5rem;
}

.row-2{
    background-color: rgba(255, 0, 0, 0.731);
    width: 34%;
    height: 100%;
    text-align: center;
    padding: 1.5em;
}

.row-box-2{
    border: 1px solid black;
    width: 100%;
    height: 16%;
    margin-top: 7em;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 3%;
    height: 60%;
    margin-left: 1rem;
}



.row-heading{
    color: white;
    font-weight: 200;
    font-size: 1.8em;
    margin-bottom: 0.8em;
}

.row-box-para{
    color: white;
    font-weight: 100;
    font-size: small;
    word-spacing: 0.5rem;
}

.logo-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-main-container{
    height: 100vh;

}

.about-container{
    background-color: #333;
    display: flex;
    justify-content:space-around;
}

.advance-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-main-container-2{
    max-width: 64%;
    height: 62%;
    padding: 1em;
    margin-top: 2rem;
}

.about-heading{
    font-weight: 500;
    font-size: 2.5rem;

}

.about-heading::after{
    content: '';
    display: block;
    border-bottom: 4px solid  rgba(255, 0, 0, 0.731);
}

.about-para{
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.about-box-container{
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2em;

}

.about-box{
    width: 25%;
    height: 100%;
}

li::before{
    content: '\2713';
    color: rgba(255, 0, 0, 0.779);
    margin-right: 0.5em;
    font-weight: 800;

}

li{
    font-size: 1.6rem;
}

.Rs{
    width: 100%;
    margin-right: 5rem;
    display: flex;
}

.Rs-box{
    width: 25%;
    height: 100%;
}

.numbers{
    display: block;
    text-align: center;
    margin-top: 0.5rem;
    color: rgba(255, 0, 0, 0.815);
    font-weight: 600;
    font-size: 1.6rem;
}

.Rs-para{
    display: block;
    text-align: center;
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1.6rem;
}

.final-container{
    width: 100%;
    height: 5em;
    background-color: rgba(255, 0, 0, 0.815); 
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.final-heading{
    color: white;
    font-size: 1.5rem;
    word-spacing: 0.3rem;
}

.final-btn{
    border: 2px solid white;
    padding: 8px;
    color: white;
    text-decoration: none;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    font-size: 1.9em;
}

.contact-main-container{
    height: 110vh;
    background-color:white;
}

.contact-12{
    width: 100%;
    /* height: 92%; */
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
}

.contact-main-box{
    max-width: 64%;
    /* height: 57rem; */
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.contact-box{
    width: 49%;
    /* height: 100%; */
    padding: 1em;
    background-color: white;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3 );
}

.contact-heading{
    font-weight: 500;
    font-size: 2.7em;
}

.contact-heading::after{
    content: '';
    display: block;
    border-bottom: 4px solid rgba(255, 0, 0, 0.731);
    margin-bottom: 1em;
}

.contact-para{
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.4rem;
}

.form{
    width: 100%;
    padding: 1rem;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 30px;
    border: 1px solid rgba(59, 55, 55, 0.818);
}

.form:focus {
    border: 2px solid rgba(255, 0, 0, 0.818);
    outline: none;
}

label{
    font-size: 1.3rem;
    font-weight: 500;
}

.text-box{
    width: 100%;
    /* height: 23rem; */
    padding: 1rem;
    /* margin-bottom: 10px; */
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid rgba(59, 55, 55, 0.818);

}

.text-box:focus {
    border: 2px solid rgba(255, 0, 0, 0.818);
    outline: none;
}

.contact-btn{
    border: 1px solid rgba(255, 0, 0, 0.818);
    background-color: rgba(255, 0, 0, 0.818);
    color: white;
    font-size: 1.4rem;
    border-radius: 20px;
    padding: 1rem 3rem;
    cursor: pointer;
}

.contact-btn:hover{
    background-color: white;
    color: rgba(255, 0, 0, 0.818);
    border: 2px solid rgba(255, 0, 0, 0.818);
    font-weight: bolder;
}

.submit-btn{
    height: 60px;
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    /* margin-top: 0.2em; */
}

.logo-container{
    width: 100%;
    height: 4rem;
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;
}

.images{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.center-container{
    width: 8%;
    height: 70%;
    
    margin-right: 0.8rem;
}

.logo-para{
    margin-bottom: 0.8em;
    font-size: 1.4em;
}

.logo-heading{
    font-weight: 500;
    font-size: 1.7rem;
}

.picture-container{
    width: 100%;
    height: 52%;
}

.picture{
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.star{
    color: rgba(255, 0, 0, 0.815);
    font-weight: bold;
}

@media (max-width: 500px){
    .header-container{
        flex-direction: column;
        align-items: center;
    }

    .header{
        margin-left: 4.4rem;
    }

    .container-1-heading{
        font-size: 1.6rem;
        margin: 0;
        padding: 0;
        padding-bottom: 0.5rem;
    }

    .para{
        font-size: 1rem;
        padding: 0;
        padding-bottom: 0.5rem;
    }

    .main-container-2{
        height: auto;
    }

    .image-container{
        max-width: 100%;
        height: 100%;
        flex-direction: column;
        margin: 1rem;
        margin-top: 4rem;
    }

    .image-container-2{
        max-width: 100%;
        height: 100%;
        flex-direction: column-reverse;
        margin: 1rem;

    }

    .box-image{
        object-fit: cover;
    }

    .box-1{
        width: 100%;
        height: 40%;
    }

    .box-2{
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .box-para{
        font-size: 1.2rem;
    }

    
    .box-3{
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .box-4{
        width: 100%;
        height: 40%;
    }

    .row-box{
        flex-direction: column;
        max-width: 100%;
        align-items: center;
        margin: 1rem;
        margin-top: 8rem;
    }

    .row{
        width: 100%;
    }

    .row-2{
        width: 100%;
    }

    
    .logo{
       width: 8%;
       height: auto;
       margin-left: 1rem;
    }

    .about-main-container-2{
       max-width: 100%;
       height: auto;
       text-align: start;

    }

    .about-container{
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
    }

    .about-main-container{
        text-align: center;
    }

    .about-box-container{
        margin: 0;
        width: 100%;
        margin-top: 1.2rem;
        justify-content: space-between;
        
    }

    .about-box{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .final-container{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .final-heading{
        font-size: 2.3rem;
    }

    .final-btn{
        padding-left: 10rem;
        padding-right: 10rem;
        border: 3px solid white;
        margin-top: 0.5em;
    }

    .contact-main-box{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        /* margin-bottom: 50px; */
    }

    .contact-box{
        width: 100%;
        margin-bottom: 5rem;
        height: auto;
    }
}

@media(min-width: 501px) and (max-width: 768px){

    .header-container{
        flex-direction: column;
        align-items: center;
    }

    .header{
        margin-left: 4.4rem;
    }

    .main-container-2{
        height: 100%;
    }

    .image-container{
        max-width: 100%;
        height: 100%;
        flex-direction: column;
        margin: 1rem;
        margin-top: 4rem;
    }

    .image-container-2{
        max-width: 100%;
        height: 100%;
        flex-direction: column-reverse;
        margin: 1rem;
    }

    .box-image{
        object-fit: cover;
    }

    .box-1{
        width: 100%;
        height: 40%;
    }

    .box-2{
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .box-para{
        font-size: 1.2rem;
    }

    
    .box-3{
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .box-4{
        width: 100%;
        height: 40%;
    }

    .row-box{
        flex-direction: column;
        max-width: 100%;
        align-items: center;
        margin: 1rem;
        margin-top: 8rem;
    }

    .row{
        width: 100%;
    }

    .row-2{
        width: 100%;
    }

    
    .logo{
       width: 8%;
       height: auto;
       margin-left: 1rem;
    }

    .about-main-container-2{
       max-width: 100%;
       height: auto;
       text-align: start;

    }

    .about-container{
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
    }

    .about-main-container{
        text-align: center;
    }

    .about-box-container{
        margin: 0;
        width: 100%;
        margin-top: 1.2rem;
        justify-content: space-between;
        

    }

    .about-box{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .final-container{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .final-heading{
        font-size: 2.3rem;
    }

    .final-btn{
        padding-left: 10rem;
        padding-right: 10rem;
        border: 3px solid white;
        margin-top: 0.5em;
    }

    .contact-main-box{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .contact-box{
        width: 100%;
        margin-bottom: 5rem;
        height: auto;
    }

    .box-heading{
        font-size: 2.2rem;
    }

    .box-para{
        font-size: 1.4rem;
    }

    .row-heading{
        font-size: 2.2rem;
    }

    .row-box-para{
        font-size: 1.4rem;
    }

    .logo{
        height: 60%;
        max-width: 5%;
    }
} 

@media(min-width: 769px) and (max-width: 1200px){
     
    html{
        font-size: 8px;
    }

    p{
        font-size: 3px;
    }
}